[submodule "refs/mf2-i18n"]
	path = refs/mf2-i18n
	url = git@github.com:triesap/mf2-i18n.git
[submodule "refs/ui-primitives"]
	path = refs/ui-primitives
	url = git@github.com:triesap/ui-primitives.git
