[Unit]
Description=Gittree Sync
After=network.target

[Service]
Type=simple
User=gittree
Group=gittree
EnvironmentFile=/etc/gittree/gittree.env
ExecStart=/usr/local/bin/gittree-sync
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
